h1 {
  color: red;
}

code {
  background-color: pink;
  font-weight: bold;
  display: block; /*code 태그는 모두 한줄 차지 형태로 차지*/
}

/*----- 기본 속성 선택자 -----*/
/* div 태그 중 name 속성 값이 "name-1*인 요소에 배경색 green*/

div[name="name-1"] {
  background-color: green;
}
div[name="name-2"] {
  background-color: yellow;
}

/* 모든 div 요소의 글자색을 grey로 변경*/

div {
  color: grey;
}

/* p 태그 중 data 속성의 값이 "data-1*인 요소만 배경색 red*/
p[data="data-1"] {
  background-color: red;
}

/* 내용이 p3, p4인 요소를 선택해서 배경색 blue*/
p[data="data-2"] {
  background-color: blue;
}

/*모든 요소(*) 중 name 속성 값이 "name-1"인 요소 글자 크기 30px*/

/* 모든 요소를 선택할 때 태그 명칭을 생략할 수 있음*/
[name="name-1"] {
  font-size: 30px;

  /*  
*[name="name-1"] {font-size: 30px;}
*/
}

/*---- 자식 선택자(>) ----*/

#parent1 {
  background-color: skyblue;
}

#parent1 > li {
  background-color: gold;
}

/* !! 선택자를 연이어 작성할 수 있다 */
/*자식2, 자식4의 글자색을 red로 설정*/
#parent1 > li > span {
  color: red;
}

/* ---- 후손 선택자 () ---- */
/*아이디가 parent2인 요소의 후손 중 모든 p 태그 선택*/

#parent2 p {
  background-color: lightcoral;
}

#parent2 > div > p {
  color: blue;
}

/* 반응 선택자 */
.test-div {
  /* 3px 실선 검정색*/
  border: 3px solid black;

  width: 200px;
  height: 200px;

  /* 배경색 #ddd (16진수) */
  background-color: #ddd;

  /* 아랫쪽 요소와 30px만큼 간격 추가 */
  margin-bottom: 30px;

  /* 마우스 커서를 손가락 모양으로 변경*/
  cursor: pointer;
}

/*.test-div #activeBox:active 태그 하나에 같이 있는건 마지막 하나만 쓴다*/
#activeBox:active {
  background-color: yellow;
}

#activeBox:hover {
  /* 배경 이미지*/
  background-image: url("../images/pizza/새우.png");

  /* 배경 이미지 크기, 되도록이면 사용하도록*/
  background-size: cover; /*요소 크기에 맞춰서 이미지 설정*/
}

/*---- 상태 선택자 ----*/
#input:focus {
  /*초점이 맞춰졌을 때 요소 바깥에 생기는 선
    1번 방법
        border : 선굵기 선종류 선색상
        outline : none
        
    2번 방법
        outline : 선굵기 선종류 선색상
        
    3번 방법
        outline-color : 선색상 (선굵기 선종류는 생략)*/

  outline-color: greenyellow;
}

#input1 {
  /*
    선색상만 변경하고 굵기나 종류는 생략하는 방법
    기본적으로 outline 바깥선 border 내부선 색상
    기본 obrder-color 색상은 눈에 띄지 않음
    outline-color
    border-color
    */
  border-color: red;
}
/*:checked*/
#input2:checked {
  width: 30px;
  height: 30px;
  background-color: red;
  /*radio, checkbox 선택 보이는 표시는 색상이 아니라 이미지
  배경색이 적용되지 않는다
  background-color: red; -> 적용이 안되는 것이 맞음
  선택할 경우 가로 세로 크기를 30px로 성정했기 때문에 크기만 커지는 것임
  
  input 태그를 만드때 기본 크기와 체크를 선택했을 때 소비자의 눈에 보여질
  이미지를 설정해놓은 상태*/
}

/* :enabled / :disabled 
배경색, 데투리모양, 선투께 설정 가능*/
.input3:enabled {
  background-color: skyblue;
}

.input3:disabled {
  background-color: lightcoral;
}
