/* ---- 일반 구조 선택자 ---- */

/*
구조 선택자를 작성할때
p:first-child 이 형태로만 작성해도 됨
p 태그 내에서 첫번째 자식을 선택!
그런데 위와 같이 사용할 경우
<div id="test1"> 내에 존재하는 p태그만 
적용되는 것이 아니라 
02_CSS선택자3.html 모든 태그 내에 있는
p 태그에 적용되기 때문에
아래와 같이 작성하는 것이 안전함

#test1 > p:first-child

*/
/* A:first-child*/
/*형제들 중 첫 번째 A가 맞다면 선택*/
#test1 > p:first-child {
  background-color: red;
  color: white;
}

/* A:last-child*/
/*형제들 중 마지막이 A가 맞다면 선택*/
#test1 > p:last-child {
  background-color: blue;
  color: white;
}

/* A:nth-child(숫자 또는 수열)*/
/*형제들 중 n번째가 A가 맞다면 선택*/
#test1 > p:nth-child(3) {
  background-color: yellow;
}

/* A:nth-last-child(숫자 또는 수열)*/
/*형제들 중 뒤에서부터 n번째가 A가 맞다면 선택*/
#test1 > p:nth-last-child(4) {
  border: 5px dotted black;
}

/* 홀수 번째가 p태그 선택*/
#test1 > p:nth-child(2n-1) {
  text-decoration: line-through;
}

/* 짝수 번째가 p태그 선택*/
#test1 > p:nth-child(2n) {
  text-decoration: underline;
}

/*
table > tr:nth-child(odd)
는 작동안함
table 내에 있는 tr rd는 
table의 자식이 아니라 함께 표를 그려가는 
태그 도구

odd : 홀수
even : 짝수
로 사용 가능!

*/
tr:nth-child(odd) {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: lightpink;
}
