/*

1. body-top 클래스에
마진 패딩 0만들기

2. header 전체 박스
로고가 들어갈 위치
로그인 | 회원가입
한줄에 존재하도록 display 설정
패딩 15 30
배경 색상 #ddd
좌 우로 나누기
justify-content:space=between
align-items:center
*/

.body-top {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  padding: 15px 30px;
  background-color: #ddd;
  justify-content: space-between;
  align-items: center;
}

.header-left .logo {
  font-size: 24px;
}

.header-left .logo img {
  width: 100px;
  border-radius: 50%;
  color: #555;
}

.header-right a {
  text-decoration: none;
  font-size: 20px;
  color: #555;
}

.nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.nav ul a {
  text-decoration: none;
  color: aqua;
}

.main {
  margin: 0;
  padding: 0;
}
.banner-container {
  width: 100%;
  height: 500px;
  position: relative;
}

.banner {
  display: block;
  background-image: url("../images/banner1.png");
  background-size: auto 145%;
  background-repeat: no-repeat;
  /*contain -> 이미지 사이즈가 기기 너비만큼 복제*/
  background-position: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  position: relative;
}

.banner-text {
  position: absolute;
  top: 40%;
  left: 40%;
  color: #333;
  text-align: center;
}
.banner-text h1 {
  font-size: 48px;
  margin-bottom: 20px;

  /*
  box-shadow나 text-shadow나 동일한 특성을 지님
  box-shadow  담겨진 테두리 음영을 줄 때 사용
  text-shadow 글자 테두리 음영을 줄 때 사용


  색상
  rgba(225=빨간색, 255-초록색, 255=파란색, 불투명한 정도는 0.1로 갈수록 투명해져서 그림자가 안보임
                                                        0.9로 갈수록 불투명(선명)해져서 그림자가 뚜렷)
  */
  /*       오른쪽으로 이동   아해쪽으로 얼마나 이동할 것인가      그림자 흐린정도     80% 불투명한 흰색 
    text-shadow: 2px                    2px                         4px        rgba(255, 255, 255, 0.8);
  
           왼쪽으로 이동    위쪽으로 이동     선명하게            흰색 
    text-shadow: -20px          2px            0px        rgba(255, 255, 255, 0.9);
  */
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.9);
}
