body {
  margin: 20px 0 0 0;
  background-color: #f9f9f9;
}

.container {
  width: 1200px;
  margin: 0 auto;
  background-color: white;
  padding: 30px;
  border-radius: 10px;
}

h1 {
  text-align: center;
  color: #333;
  margin-top: 30px;
}

h2 {
  font-size: 32px; /* 16px -> 1rem    32px -> 2rem */
  color: #333;
  text-align: center;
}

p {
  text-align: center;
  color: #666;
  margin-bottom: 30px;
}

/*
클래스 nav
display 이용해서 한줄 정렬
모두 가운데 중앙 배치 justify-content
gap 20px
아래랑 마진 30px 

클래스 nav 내부에 있는 a 태그
padding 상하10 좌우 20
배경색 ff6b6b
글자색 흰색
모서리 20px
글자 굵게
글래스 nav 내부에 있는 a 태그 위 마우스 올라오면
배경색 ff5252 변경*/

.nav {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 30px;
}

.nav a {
  padding: 10px 20px;
  background-color: #ff6b6b;
  color: white;
  text-decoration: none;
  border-radius: 20px;
  font-weight: bold;
}
.nav a:hover {
  background-color: #ff5252;
}

.alert {
  background-color: #fff3cd;
  padding: 20px;
  border-left: 4px solid #ffc107;
  border-radius: 5px;
}

.grid {
  /*
    Grid : 웹페이지에서 2차원 레이아웃을 만드는 CSS 기술
    화면 크기에 따라 자동 조절
    grid-template-columns: 
    repeat(auto-fit, minmax(300px, 1fr))
    repeat() : 컬럼을 반복해서 만들기 ( 행 = 세로 )
    auto-fit : 화면 크기에 맞춰서 자동으로 컬럼 개수 조절
    minmax(300px, 1fr) = 각 행(컬럼)의 최소 너비는 300px
                         남은 공간을 균등하게 나눠 가지겠다.
                         1fr = fraction = 분수 = 작은 부분
                                남은 공간을 1만큼만 차지하겠다
  */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}
